
    body{
        background-color: #e1dbeb;
    }
    .container {
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 0px 0px 2px;
        width: 250px;
        margin: 10px auto;
        padding: 1px 2px;
        border-radius: 10px;
        background-color: white;
    }

    .head {
        text-align: center;
        color: #5d5b7c;
    }

    .input1 {
        width: 95%;
        height: 20px;
        border-radius: 5px none;
    }


    .box {
        padding: 10px;
    }

    .label {
        width: 95%;
        height: 30px;
        border-radius: 5px;
    }

    .btn1,
    .btn2 {
        background-color: #6a4bc4;
        border: none;
        border-radius: 3px;
        width: 48%;
        height: 25px;
        color: white;
    }

    .btn1:hover {
        background-color: #442799;
    }

    .btn2:hover {
        background-color: #442799;
    }